*{
    padding: 0px;
    margin: 0px;
}
.header{
    width: auto;
    height: 80px;
    background-color: cornflowerblue;
}
.f{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 36px;
    text-align: center;
}
body{
    background-color: rgb(187, 187, 187);
}
.t1{
    margin-left: 1%;
    padding: 20px;
}
.t11 img{
    height: 706px;
    width: 520px;
}
